.table
  .table-row
    .table-cell.sidebar
      %h1
        = image_tag "logos/adopt-a-hydrant.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        #col1
          %a{:href => "http://codeforamerica.org/"}
            = image_tag "logos/cfa.png", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
          %br
          %a{:href => "http://bostonbuilt.org/"}
            = image_tag "logos/bostonbuilt.png", :alt => t("sponsors.built"), :title => t("sponsors.built")
        #col2
          %a{:href => "http://www.cityofboston.gov/"}
            = image_tag "logos/boston.png", :alt => t("sponsors.city"), :title => t("sponsors.city")
          %p#mayor
            %a{:href => "http://www.cityofboston.gov/mayor/"}
              = "#{t("sponsors.mayor.name")},"
              %em
                = t("sponsors.mayor.title")

// Name: Greg Heitman
// Course: CSC 415-01
// Semester: Spring 2016
// Instructor: Dr. Pulimood
// Project name: Adopt-A-Hydrant
// Description: An open source application where users can claim responsibility for shoveling
//              a fire hydrant in the city of Boston when it snows 
// Filename: "app/views/main/index.html.haml" 
// Description: This is the main index file that controls the HTML layout and display of the application. The portion below this comment is
//              where I added the shovel.png image from app/assets/images/logos. I hyperlinked the picture of the shovel to a page on Grainger's
//              website, which had a listing of snow shovels and snow equipment for sale. Below that in the map container, I have imported an app
//              that tracks the weekly weather forecast for Boston, MA from forecast.io.
// Last modified on: 4/18/16
      #feedback
        %p
          Click the shovel to find great deals on snow shovels and equipment!
          %a{:href => "http://www.grainger.com/category/snow-shovels-and-snow-pushers/snow-and-ice-removal/outdoor-equipment/ecatalog/N-ljw"}
            = image_tag "logos/shovel.png", :alt => t("sponsors.snow"), :title => t("sponsors.snow")
          %a{:href => URI.escape("mailto:adoptahydrant@cityofboston.gov?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} - #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #weather
      <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=42.3583&lon=-71.0603&name=Downtown Boston"> </iframe>
      #map
        &nbsp;

